.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #000000;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px solid #333333; 
}

.navbar-logo {
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center; 
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

.navbar-link {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  color: white;
  transition: all 0.3s;
  position: relative;
  padding-bottom: 5px;
}

.navbar-link:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #5050ff;
}

.navbar-buttons {
  gap: 2rem;
}

.navbar-buttons .navbar-link {
  font-family: 'Gilroy', sans-serif;
  font-size: large;
  font-weight: 500;
}

